<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">

  <extensions>
    <add assembly="GenericWebApp" />
  </extensions>
  
  <targets>
    <target xsi:type="Debugger" name="c" />
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />

    
    <target xsi:type="ElasticSearch" name="es"
            layout="${jsondump}"
            url="http://localhost:9200/logstash-${date:format=yyyy.MM.dd}/GenericWebApp" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="c" />
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="es" />
  </rules>
</nlog>